{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
    
</head>
<body>
{% block content %}  
    {% if user.is_authenticated %}  
        <div  class="flex flex-col md:grid md:grid-cols-3 gap-3">
            <div class="relative rounded overflow-hidden">
            <img src="../static/images/baxtiyar.jpg" alt="">
            <a href="../templates/baza.html">
                <p
                class="cursor-pointer absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-2xl text-center text-white font-roboto font-medium group-hover:bg-opacity-60 transition">
            </p>
            </a>
            
            </div>

            
        </div>


        <div style="margin-top: 20px; margin-bottom: 20px;display: flex;gap: 20px;flex-wrap: wrap;justify-content: center;">
        {% for blog in blogs %}
        <div>

            <div  class="flex px-3 py-3">

                <div  class="max-w-sm rounded overflow-hidden shadow-lg">
                    
                    <a style="width: 400px;width: 400px;" href="{{ blog.get_absolute_url }}"><img class="w-full" src="{{ blog.image.url }}" alt="Sunset in the mountains"></a>
                    
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">{{ blog.name }}</div>
                        <p class="text-gray-700 text-base">
                            {{ blog.description }}
                            
                        </p>
                    </div>
                    
                    <div class="px-6 py-4">
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#photography</span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#travel</span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#winter</span>
                    </div>
                </div>
            </div>

        </div>
            
        {% endfor %}

    {% else %}
            <a href="{% url 'login' %}">Log in </a>
            {% endif %}
  
{% endblock  %}   
</div>
 
</body>


<footer style="background-color: #1f2937;" class="px-3 pt-4 lg:px-9 border-t-2 bg-gray-50">
  <div class="grid gap-10 row-gap-6 mb-8 sm:grid-cols-2 lg:grid-cols-4">

      <div class="sm:col-span-2">
          <a href="#" class="inline-flex items-center">
              <img src="https://mcqmate.com/public/images/logos/60x60.png" alt="logo" class="h-8 w-8">
              <span style="color: gray;" class="ml-2 text-xl font-bold tracking-wide text-gray-800">Company Name</span>
          </a>
          <div class="mt-6 lg:max-w-xl">
              <p style="color: gray;" class="text-sm text-gray-800">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi felis mi, faucibus dignissim lorem
                  id, imperdiet interdum mauris. Vestibulum ultrices sed libero non porta. Vivamus malesuada urna eu
                  nibh malesuada, non finibus massa laoreet. Nunc nisi velit, feugiat a semper quis, pulvinar id
                  libero. Vivamus mi diam, consectetur non orci ut, tincidunt pretium justo. In vehicula porta
                  molestie. Suspendisse potenti. 
                  </p>
          </div>
      </div>

      <div style="color: gray;" class="flex flex-col gap-2 text-sm">
          <p class="text-base font-bold tracking-wide text-gray-900">Popular Courses</p>
          <a href="#">UPSC - Union Public Service Commission</a>
          <a href="#">General Knowledge</a>
          <a href="#">MBA</a>
          <p class="text-base font-bold tracking-wide text-gray-900">Popular Topics</p>
          <a href="#">Human Resource Management</a>
          <a href="#">Operations Management</a>
          <a href="#">Marketing Management</a>
      </div>

      <div>
          <p class="text-base font-bold tracking-wide text-gray-900">COMPANY IS ALSO AVAILABLE ON</p>
          <div class="flex items-center gap-1 px-2">
              <a href="https://play.google.com/store/search?q=free+fire&c=apps&hl=en&gl=US" class="w-full min-w-xl">
                  <img src="https://mcqmate.com/public/images/icons/playstore.svg" alt="Playstore Button"
                      class="h-10">
              </a>
              <a  class="w-full min-w-xl" href="https://www.youtube.com/@Samat111">
                  <img src="https://mcqmate.com/public/images/icons/youtube.svg" alt="Youtube Button"
                      class="h-28">
              </a>
          </div>
          <p class="text-base font-bold tracking-wide text-gray-900">Contacts</p>
          <div class="flex">
              <p class="mr-1 text-gray-800">Email:</p>
              <a style="color: gray;" href="#" title="send email">samatdeveloper.com</a>
          </div>
      </div>

  </div>

  <div class="flex flex-col-reverse justify-between pt-5 pb-10 border-t lg:flex-row">
      <p class="text-sm text-gray-600">© Copyright 2024  Samat's Company.</p>
      <ul class="flex flex-col mb-3 space-y-2 lg:mb-0 sm:space-y-0 sm:space-x-5 sm:flex-row">
          <li>
              <a href="#"
                  class="text-sm text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Privacy
                  &amp; Cookies Policy
              </a>
          </li>
          <li>
              <a href="#"
                  class="text-sm text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Disclaimer
              </a>
          </li>
      </ul>
    </div>

</footer>
</html>